body {
  font: $mainFont;
  font-weight: $normal;
  font-size: 1.5em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font: $headFont;
  font-weight: $normal;
  margin: 0;
}
.main {
  padding-top: 50px;
}

.page {
  padding: 20px 0;
}

// .page h2 {
//   text-align: center;
//   margin-bottom: 30px;
// }

.title-one {
  display: inline-block;
  font-size: 32px;
  font-weight: $bold;
  padding-bottom:10px;
  text-align: center;
  text-transform: uppercase;
  position:relative
}
.title-one:before {
    color: #fc7700;
    content: "||";
    left: -40px;
    position: absolute;
    top: 0;
}
.title-one:after{
    color: #fc7700;
    content: "||";
    position: absolute;
    right: -40px;
    top: -2px;
}

