#listing { 

	#listing-list {
		margin:0 auto;
		.box{
			margin-bottom:30px;
			overflow:hidden;
			.list-image { 
			   position: relative; 
			   width: 100%; /* for IE 6 */
				h5 { 
				   position: absolute; 
				   top: 0%; 
				   // width: 100%; 
					span { 
					   color: $yellow_2; 
					   background: rgb(0, 0, 0); /* fallback color */
					   background: rgba(0, 0, 0, 0.7);
					   // padding: 10px; 
					}
				}
				p { 
				   position: absolute; 
				   bottom: 0%; 
				   left: 1%; 
				   // width: 100%; 
					span { 
					   color: $white; 
					   background: rgb(0, 0, 0); /* fallback color */
					   background: rgba(0, 0, 0, 0.7);
					   // padding: 10px; 
					}
				}
				img{
					width:100%;
					transition:all 0.3s ease-in-out;
					&:hover {
						opacity: 0.6;
					}
				}
			}
			.bottom {
			    padding: 10px 0;
			    margin: 0;
				.btn-primary {
					text-transform: uppercase;
					border: 1px solid #fc7700;
					color: #686868;
					background-color: rgba(255, 255, 255, 0);
					border-color: #fc7700;
					&:hover {
						background-color:#fc7700;
						color:#fff;					
					}
				}
				.btn-success {
					text-transform: uppercase;
					border: 1px solid #5cb85c;
					color: #686868;
					background-color: rgba(255, 255, 255, 0);
					border-color: #5cb85c;
					&:hover {
						background-color:#5cb85c;
						color:#fff;				
					}
				}
			}	
		}
	}
}















