#offering { 
	padding: 60px 0;
	.process {
		margin-bottom: 40px;
		img {
		    text-align: center;
		    font-size: 30px;
		    background-color: #FFCC33;
		    color: #ffffff;
		    padding: 25px 0;
		    border: 4px solid #ffffff;
		    border-radius: 50px;
		    border-top-left-radius: 0;
		    margin: 0 10px;
		    margin-right: 20px;
		    width: 92px;
		    height: 90px;
		    transition: background-color 0.5s;
		}
		&:hover img { background-color: #333333 }
	}
	.gray-bg { position: relative }
	#process { padding: 60px 0 20px 0 }
}


@media (max-width: 360px) { 
	#tf-features{ padding: 20px 0;}
}

