#team { 
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #E4D29D, #CDAE50);
	.title-one {
		color: $blue;
	}
	p {
		font-weight: $normal;
		color: $blue;
	}
	.member {
		margin: 10px 0;
		h3 {
		  font-weight: 600;
		  font-size: 1.2em;
		  color: #6F4E36;
		  padding-bottom: 5px;			
		}
		p {
			font-size: 0.9em;
		}
		img {
			width: 100%;
		}
	}
}