//Add Color Palette
$blue       : #063642;
$yellow_1   : #FFCC33; 
$yellow_2   : #FFCC32; 
$yellow_3   : #E5B112;
$orange_1   : #E27A3F;
$orange_2	: #C59A6D;
$orange_3	: #fc7700;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$black      : #000000;
$white      : #FFFFFF;
$gray_1		: #CFCFCF;
$gray_2		: #6F6F6F;
$gray_3		: #333333;
$gray_4		: #F3F3F3;
$gray_5		: #999999;
$green      : #45B29D;


//Font variables
$mainFont       : 'Lato', Helvetica, Arial, sans-serif;

$thinner	: 100;
$thin     	: 300;
$normal   	: 400;
$bold     	: 700;
$heavy    	: 900;
