<footer>
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p>Call us toll-free at <span class="phone">888-555-1212</span></p>
        <p>All contents &copy; 2017 <a href="http://astro.com">Astro.com</a>. All rights reserved.</p>    
      </div><!-- col-sm-6 -->
    </div><!-- row -->
  </div><!-- content container -->
</footer>
