<footer>
	<div class="copyright" id="footer">
	  <div class="container">
	    <div class="col-md-6">
	        <p>All contents &copy; 2017 <a href="http://astro.com">Astro.com
	    </div>
	    <div class="col-md-6">
	      <ul class="bottom_ul">
	      	<li><%= link_to 'Home', root_path %></li> <!-- home link -->
			<li><%= link_to 'About', public_about_path %></li> <!-- about link -->
			<li><%= link_to 'Team', public_team_path %></li> <!-- team link -->
			<li><%= link_to 'Gallery', public_gallery_path %></li> <!-- team link -->
	      </ul>
	    </div>
	  </div>
	</div>
</footer>
