<div class="container-fluid">
	<div class="row" id="intro">
		<article class="fullheight">
		  <div class="hgroup">
		    <h2>ॐ हौं जूं स: ॐ भूर्भुवः स्वः
		त्र्यम्बकं यजामहे सुगन्धिं पुष्टिवर्धनम्।
		उर्वारुकमिव बन्धनान्मृत्योर्मुक्षीय माऽमृतात्।।
		ॐ स्वः भुवः भूः ॐ सः जूं हौं ॐ</h2>
		    <p><a href="#welcome"><%= image_tag("arrow.png", alt: "down arrow") %></a></p>
		  </div>
		</article>
	</div>
</div>	
