<div class="container">
    <div class="section-header">
        <h2 class="title-one">Services</h2>
    </div>
	 <div class="text-center">
	    <ul class="list-inline cat-s"> <!-- Portfolio Filter Categories -->
	    	<li><a href="javascript:void(0)" data-filter="*" class="active">All</a></li>
	    	<% @services.each do |service| %>
	        <li><%= link_to service.name, "javascript:void(0)", "data-filter": "." + service.name.downcase %></li>
	        <% end %>
	    </ul><!-- End Portfolio Filter Categories -->
	</div>
</div>
<div class="container">
	<div id="service-list" class="row">
		<% @listings_service.each do |service| %>
        <div class="box col-xs-12 col-sm-6 col-md-3 <%= service.cat_name.downcase %>">
            <div class="list-image">
                <%= list_service_for_home(service )%>
                <h5><span><%= service.name %></span></h5>
            </div>
            <div class="bottom">

                    <a href="#" class="btn btn-success btn-xs">Book Now</a>
                    <a href="#" class="btn btn-primary btn-xs pull-right">View Details</a>
            </div>
        </div>
        <% end %>
	</div>
</div>