<div class="container-fluid">
	<%= render 'intro' %> 
</div>
<%= render 'layouts/messages' %> <!-- messages -->

<div class="main">


	<div class="page" id="service">
		<div class="container">
			<%= render 'service' %>
		</div>
	</div> <!-- service -->

	<div class="page" id="product">
		<div class="container">
			<%= render 'product' %>
		</div>
	</div> <!-- product -->


</div> 