<div class="page" id="listing">
	<div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one"><%= @listing.first.product.name %></h2>
            </div>
        </div>
		<div class="row">
			<% @listing.each do |list| %>
			<div class="col-sm-6 col-md-4">
				<div class="single-list">
					<%= image_for_home(list) %>
					<h2><%= list.name %></h2>
					<div class="list-content">
						<p><%= list.short_desc %></p>
					</div>
					<a href="#" class="btn btn-success">Book Now</a>
					<a href="#" class="btn btn-primary pull-right">View Details</a>
				</div>
			</div>
			<% end %>
		</div> 

	</div>
</div>